blinker
cairocffi==1.7.1
CairoSVG==2.8.2
cffi==2.0.0
charset-normalizer
click
colorama
contourpy
cssselect2==0.8.0
cycler
defusedxml==0.7.1
Flask==3.0.3
flask-cors==4.0.0
fonttools
freetype-py
greenlet
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib==3.10.0
munkres==1.1.4
numpy==2.1.2
packaging
pandas==2.2.3
pillow
pycairo==1.23.0
pycparser
pyparsing
PyQt6==6.7.1
PyQt6-sip
python-dateutil
pytz
reportlab
rlPyCairo
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
setuptools
sip
six
SQLAlchemy
threadpoolctl
tinycss2==1.4.0
tornado
typing_extensions
tzdata
unicodedata2
webencodings==0.5.1
Werkzeug
wheel
xgboost==2.1.1
gunicorn
rdkit-pypi==2023.9.5
